---

---

<footer class="footer">
  <ul class="footer__list grid--col6">
    <li id="updatedDate" class="footer__updatedDate"></li>
    <li id="currentTime" class="footer__time"></li>
    <li class="footer__copyright">© 2024</li>
  </ul>
</footer>
