---

---

<header class="header">
  <nav class="nav grid--col6">
    <h1 class="nav__name">narita yuriko</h1>
    <button id="btn-open" class="nav__btn cursor-large" type="button"
      >information</button
    >
    <h2 class="nav__works">selected works</h2>
    <p class="nav__tools">platform</p>
    <p class="nav__year u-hide-sp">year</p>
  </nav>
</header>
<div id="panel" class="infoPanel u-hide">
  <div class="infoPanel__inner">
    <p class="infoPanel__intro">
      神奈川県厚木市出身です。<br
      />子供の頃から異文化交流に興味があり、これまでに英語という言語を通して出会った方々や異文化経験に大変刺激を受けてきました。特に学生時代に経験したオーストラリア留学は今でも忘れられない出会いや経験をさせていただきました。<br
      />
      また、子供の頃から自分の手で何かを作ることが好きで夢中になれるでした。手先の器用な祖父がよく竹細工で立派な鳥籠や竹とんぼを作ってくれる姿を見て、自身の手で何かを作るものづくりの面白さや楽しさを教えてもらいました。<br
      />
      これまでの経験を通して、一つ一つの過程を積み上げていく楽しさや学びの多さを体感してきました。<br
      />
      Webサイト制作を始めるきっかけは、書店で販売されていた初心者向けの参考書に取り組んだことが始まりです。
      その後、本格的にWebサイト制作を学びたいと思い、オンラインスクールRaiseTechのWordPress制作コースにて2024年1月頃から学習を開始しました。<br
      />
      考えながらコードを書いたり、サイトを構築していくことに楽しさを覚え、コース完走後の現在も継続的に学習に励みながら、就職活動を行なっております。<br
      />今後も引き続き技術向上を目指しながら、将来的には3DやWebアプリ、デザイン、Webマーケティングなど様々なことに視野を広げながら、果敢にチャレンジしていきたいと思っております。
    </p>
    <dl class="infoPanel__wrap grid--col12 u-mt-m">
      <dt class="infoPanel__heading u-heading">skills</dt>
      <dd class="infoPanel__text">
        HTML / CSS, Sass, TailwindCSS / jQuery / JavaScript / PHP / Git, GitHub
        / WordPress / Astro
      </dd>
    </dl>
    <dl class="infoPanel__wrap grid--col12 u-mt-m">
      <dt class="infoPanel__heading u-heading">languages</dt>
      <dd class="infoPanel__text">
        日本語 / 英語 / フィンランド語（現在学習中）
      </dd>
    </dl>
    <dl class="infoPanel__wrap grid--col12 u-mt-m">
      <dt class="infoPanel__heading u-heading">links</dt>
      <dd class="infoPanel__text">
        <a
          href="https://github.com/IamYuriko"
          target="_blank"
          class="cursor-large">GitHub</a
        >
      </dd>
    </dl>
    <dl class="infoPanel__wrap grid--col12 u-mt-m">
      <dt class="infoPanel__heading u-heading">emails</dt>
      <dd class="infoPanel__email">
        <a href="mailto:helloimyuriko@gmail.com" id="email" class="cursor-large"
          >helloimyuriko@gmail.com</a
        >
      </dd>
      <dd>
        <button
          type="button"
          id="btn-copy"
          class="infoPanel__copy-email cursor-large"
          >メールアドレスをコピー</button
        >
        <p id="success" class="infoPanel__copy-email--success u-hide">
          メールアドレスがクリップボードにコピーされました
        </p>
      </dd>
    </dl>
  </div>
</div>
