---

---

<header class="header">
  <nav class="nav grid--col6">
    <h1 class="nav__name">narita yuriko</h1>
    <button id="btn-open" class="nav__btn cursor-large" type="button"
      >information</button
    >
    <h2 class="nav__works">selected works</h2>
    <p class="nav__tools">platform</p>
    <p class="nav__year u-hide-sp">year</p>
  </nav>
</header>
<div id="panel" class="infoPanel u-hide">
  <div class="infoPanel__inner">
    <p class="infoPanel__intro">
      子供の頃から異文化交流に興味があり、英語を通じてさまざまな出会いや体験に触れることができました。特に学生時代に経験したオーストラリア留学では今でも忘れられない貴重な経験をしました。<br
      />
      また、自分の手を動かして何かを作ることに夢中になれる性格で、手先が器用な祖父がよく竹細工で立派な鳥籠や竹とんぼを作っている姿を見て、ものづくりの面白さや楽しさを教えてもらいました。<br
      />Webサイト制作を始めたのは、書店で販売されていた初心者向けの参考書がきっかけです。興味を持ち、面白そうと見様見真似で取り組んでみたことが始まりで、その後、本格的にWebサイト制作を学びたいと思い、2024年1月頃からオンラインスクールRaiseTechのWordPress制作コースで学習を開始しました。考えながらコードを組み立てたり、サイトを構築していくことに楽しさを覚え、コース完走後の現在も継続的に学習に励みながら、転職活動を行なっております。<br
      />
      まだ、具体的な形にはなっていませんが、将来的にはお客様のニーズや課題に向き合い、Web制作に携わる中で自己成長を続け、価値提供していけるような人物になりたいと思っています。今後も引き続き技術向上を目指しながら、将来的には3DやWebアプリ、デザイン、Webマーケティングなど様々な分野に視野を広げながら、ものづくりに挑戦していきたいと思っております。
    </p>
    <dl class="infoPanel__wrap u-mt-m">
      <dt class="infoPanel__heading u-heading">skills</dt>
      <dd class="infoPanel__text">
        HTML / CSS / Sass / TailwindCSS / JavaScript / jQuery / PHP / WordPress
        / Astro / Git / GitHub
      </dd>
    </dl>
    <dl class="infoPanel__wrap u-mt-m">
      <dt class="infoPanel__heading u-heading">
        design tools ( 基本操作レベル )
      </dt>
      <dd class="infoPanel__text">
        Photoshop / Illustrator / Affinity Photo / Affinity Designer / Figma
      </dd>
    </dl>
    <dl class="infoPanel__wrap u-mt-m">
      <dt class="infoPanel__heading u-heading">languages</dt>
      <dd class="infoPanel__text">
        日本語 / 英語 / フィンランド語（現在学習中）
      </dd>
    </dl>
    <dl class="infoPanel__wrap u-mt-m">
      <dt class="infoPanel__heading u-heading">emails</dt>
      <dd class="infoPanel__email">
        <a href="mailto:helloimyuriko@gmail.com" id="email" class="cursor-large"
          >helloimyuriko@gmail.com</a
        >
      </dd>
      <dd>
        <button
          type="button"
          id="btn-copy"
          class="infoPanel__copy-email cursor-large"
          >メールアドレスをコピー</button
        >
        <p id="success" class="infoPanel__copy-email--success u-hide">
          メールアドレスがクリップボードにコピーされました
        </p>
      </dd>
    </dl>
    <dl class="infoPanel__wrap u-mt-m">
      <dt class="infoPanel__heading u-heading">links</dt>
      <dd class="infoPanel__text">
        <a
          href="https://github.com/IamYuriko"
          target="_blank"
          class="cursor-large">GitHub</a
        >
      </dd>
    </dl>
  </div>
</div>
