@charset "UTF-8";

/*----------------------------------------
	footer
----------------------------------------*/
.footer {
    background-color: var(--c-bg);
    bottom: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    z-index: 10;
}
.footer__list {
    padding: var(--spacing-s) var(--spacing-m);
}
.footer__updatedDate {
    grid-column: 1;
}
.footer__time {
    grid-column: 4;
}
.footer__copyright {
    grid-column: 6;
}